"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      paintCursor: true
      predefinedColor: "Blue Grey"
    fonts:
      fontSize: 13
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Ricty Diminished"
    fontSize: 13
  "exception-reporting":
    userId: "749ff67b-77bd-b1f3-9c71-364b6b6ff2b9"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
