[user]
  email = me@hrntknr.net
  name = Takanori Hirano
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[submodule]
  recurse = true
[pull]
  rebase = true
[alias]
  sync = "!sh -c 'git add -A;git commit --allow-empty-message -m \"\";git pull;git push'"
[include]
  path = "~/.gitconfig.local"
[ghq]
  root = "~/work/r"

[url "https://github.com/"]
  insteadOf = git@github.com:
[credential "https://github.com"]
  helper = !gh auth git-credential
