[user]
  email = me@hrntknr.net
  name = Takanori Hirano
[core]
  editor = vim
[submodule]
  recurse = true
[alias]
  sync = "!sh -c 'git add . ; git commit --allow-empty-message -m \"\" ; git push'"
[include]
  path = "~/.gitconfig.local"

